<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark" style="font-family: 'Palanquin Dark', sans-serif;">
    <div class="container-fluid">
      <div class="navbar-brand">
        <% if (!isHomePage) { %>
          <a class="navbar-brand" href="/">
            <img
            src="/images/guitrhub.png"
            alt="Your Logo"
            class="img-fluid"
            style="height: 40px;"
            onerror="this.src = '../images/guitrhub.png';">
          </a>
        <% } %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon" style="background-color: white;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> 
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="/guitars/new">New Guitars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="/guitars">All Guitars</a>
          </li>
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" style="color:darkkhaki" href="/logout">Logout</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" style="color:deepskyblue" href="/auth/google">Login with Google</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>