<%- include('../partials/header') %>

<h2>Enter a New Guitar</h2>
<form action="/guitars" method="POST">
 
  <label>Brand:
    <input type="text" name="brand">
  </label>
  <label>Model:
    <input type="text" name="model">
  </label>

  <input type="submit" value="Add Guitar">
  
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
