<%- include('../partials/header', { isHomePage: false }) %>
<body>
  <br /><br />
  <h2 class="centered-heading">Enter a New Guitar</h2>
  <div class="card-container">
    <div class="card">
      <div class="card-body" id="newguitar-form">
        <form action="/guitars" method="POST">
          <div class="mb-3" id="newguitar">
            <label for="brand" class="form-label">Brand:</label>
            <input
              type="text"
              class="form-control"
              id="brand"
              name="brand"
              placeholder="Enter brand"/>
          </div>
          <div class="mb-3">
            <label for="model" class="form-label">Model:</label>
            <input
              type="text"
              class="form-control"
              id="model"
              name="model"
              placeholder="Enter model"
            />
          </div>
          <button type="submit" class="btn btn-primary">Add Guitar</button>
        </form>
      </div>
    </div>
  </div>
  <p><%= errorMsg %></p>
</body>

<script>
  console.log("This is a console log statement in your EJS template.");
</script>
