<%- include('./partials/header') %>



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
   <div id="logo">
      Home Page
      <img src="https://i.imgur.com/kfvzYsx.png">
   </div>
   

</body>
</html>

<%- include('./partials/footer') %>