@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Palanquin:wght@100&display=swap');
body {
  background-image: url("../images/background.png"); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: 'Palanquin Dark', sans-serif;
}

nav {
  font-family: 'Palanquin Dark', sans-serif;
}

tbody {
  font-family: 'Palanquin Dark', sans-serif;
}

h2 {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Palanquin Dark', sans-serif;
}

form {
  padding-left: 20px;
  font-family: 'Palanquin Dark', sans-serif;
}

#brand-model {
  font-size: 30px;
  font-family: 'Palanquin Dark', sans-serif;
  padding-top: 20px;
  padding-left: 20px ;
}

.button-container {
  display: flex; 
  gap: 10px; 
}


.guitar-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.guitarlist {
  padding-top: 50px;
  padding-left: 30px;
}

#logo{
  margin-top: -20px;
  padding-left: 40px;
  scale: .8;
}

#reviewtext {
 font-family: 'Palanquin';
}

#googleavatar {
  border-radius: 50px;
  scale: .8;
}

.user-info {
  display: flex; 
  align-items: center;
}

.avatar {
  width: 40px; 
  height: 40px; 
  margin-right: 10px;
}

#googlename {
  padding-top: 15px;
  font-size: 10px;
  white-space: nowrap;
}

#smallicon {
  scale: .5;
}

.card-container {
  max-width: 400px;
  margin: 0 auto;
}

.guitar-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.guitar-container {
  width: 50rem !important; 
}

.card {
  width: 100% !important;
  max-width: 50rem !important;
}


.guitar-icon {
 scale: .5;
  margin: 0 auto;
  display: block;
}

.card-title {
  text-align: center;
}

.btn-outline-primary {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h2.guitarlist {
  padding-right: 30px;
  text-align: center;
}

h2.centered-heading {
  text-align: center;
}

#add-review-container {
  float: left; /* This moves the container to the left */
  width: 50%; /* Adjust the width as needed */
  margin: 20px; /* Add margin for spacing */
}

#reviewscard {
  padding-left: 30px;
}





