
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* Define a CSS class for the gray box */
.guitar-container {
  background-color: gray;
  padding: 40px;
  color: white; /* Text color */
  transition: background-color 0.3s, color 0.3s;
}

/* Style the anchor tags within the gray boxes */
.guitar-container a {
  display: block;
  text-align: center;
  margin-bottom: 1px;
  text-decoration: none; /* Remove underline from links */
  color: white; /* Link text color */
}

.guitar-contrainer:hover {
  background-color: darkgray; /* New background color on hover */
  color: black; /* New text color on hover */
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

#add-review-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}